<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BAAE15CF19A3FB5E00DA3462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAAE15DA19A3FB5E00DA3462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAAE160019A3FFEC00DA3462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
